
<h1>Our DNA is <span id="typed"></span></h1>
<div id="typed-strings">
    <p>International.</p>
    <p>Quality.</p>
    <p>Diversity.</p>
    ...
</div>

<h1>General Terms and Conditions of Sale</h1>

<h2> 1 - PURPOSE AND ENFORCEABILITY OF THE GTCS</h2>

  <p> The purpose of the Nectar website is to present Artworks from artists (hereinafter the
  “Sellers”) to the users of the site (potential “Buyers”), and to give them the opportunity to
  discover and buy them online directly from the Seller.
 </p>
 <h2>2 – ACCEPTANCE</h2>
 <p> 
  The unconditional acceptance of the entire general conditions of sale is mandatory to
  conclude the sale agreement, by both the Seller and the Buyer. The acceptance is confirmed
  by a box that needs to be checked on the Artwork order form. </p>
  <h2>3 – ORDER</h2>
  <p> 
    To order an Artwork, the Buyer must select the Artwork of his/her choice, place it in his/her
    cart and provide the necessary personal information to place the order (or identify
    him/herself, if he/she has a User account). Before validating the order, the Buyer must check
    the information appearing on the order summary, and he/she can correct any potential
    mistakes in the items inserted, as well as read about the delivery costs.
    The Buyer will not be charged for the payment before his/her purchase offer has been
    validated, which is done within 48 hours by Nectar, in order to ensure the Artwork’s
    availability from the Seller. </p>
    <h2>5 - DELIVERY OF THE ARTWORKS</h2>
    <p>   
        The delivery of the Artworks is made at the address provided on the order summary form,
        during the business hours and according to the procedures laid down by the carrier chosen
        upon ordering.
        The Buyer must inform him/herself about the procedures and delivery schedules
        implemented by the various delivery services providers. </p>
        <p>The Buyer must, as soon as he receives the order, check the condition of the artwork, and
            mention any reservation immediately and in writing, at the latest within 48 hours, to
            Nectar, who will transfer to the Seller. </p>
 