<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.first_name %> and welcome to our artist community !</h1>
    <p>
      You are subscribed with the following email : <%= @user.email %>.
    </p>
    <p>
    </p>
     <p>The Nectar Team</p>

    <p><img class="navbar-logo navbar-logo-dark" src="../../assets/demo/logo/nectar-dark6.png" alt="Logo"></p>
    <p>© NECTAR. 2019 ALL RIGHT RESERVED</p>

    <p>+33 (0) 635 389 512</p>
  </body>
</html>