Welcome to Nectar !
Hello <%= @user.first_name %> thank you for joining our family and welcome to our artist community !</h3>
NECTAR is designed for people in love with art. Our objective is to help you to get inspiration from other painters and art enthusiasts, to connect with your fans and peers and share your artistic work with the world. </p>
What now?
  Create
Add an artwork to your profile and let the world see your skill.
  Share
Have your artpiece presented in our virtual gallery. Like, comment and follow your favorite Artists, painting styles and artistic trends. All you need is a web browser, no need to go anywhere.</h4></center>
  Sell
Use our userfriendly and secure marketplace to sell and buy artwork, and finaly find that missing piece of decoration that would putt the whole room together.</h4></center>
  
To access our galery, click <a href="https://nectar-staging.herokuapp.com/artworks">here</a>.

  The Nectar Team
  © NECTAR. 2019 ALL RIGHT RESERVED

  +33 (0) 635 389 512
  
