<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>GO - Blockchain</title>
    <link rel="stylesheet" href="../../assets/css/vendor.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
  </head>
  <body>

    <!-- header -->
    <header class="header-sticky header-dark">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="../../index.html">
            <img class="navbar-logo navbar-logo-light" src="../../assets/images/demo/logo/logo-light.svg" alt="Logo">
            <img class="navbar-logo navbar-logo-dark" src="../../assets/images/demo/logo/logo-dark.svg" alt="Logo">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="burger"><span></span></span></button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav align-items-center mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="../../index.html" role="button">
                  Home
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Pages
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="../../landing-pages.html">
                    <span>Landing Pages</span>
                    <p>Start with one of pre-made templates.</p>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="../../inner-pages.html">
                    <span>Inner Pages</span>
                    <p>Extend your website with these pages.</p>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="../../app-pages.html">
                    <span>App Pages</span>
                    <p>Add functionality to your website.</p>
                  </a>
                </div>
              </li>
              <li class="nav-item dropdown dropdown-mega">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Components
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown-1">
                  <div class="row">
                    <div class="col">
                      <ul class="mega-list">
                        <li><a href="../../components/index.html" class="highlight">Getting Started</a></li>
                        <li><a href="../../components/accordions.html">Accordions</a></li>
                        <li><a href="../../components/backgrounds.html">Backgrounds</a></li>
                        <li><a href="../../components/blog.html">Blog</a></li>
                        <li><a href="../../components/boxes.html">Boxes</a></li>
                        <li><a href="../../components/buttons.html">Buttons</a></li>
                        <li><a href="../../components/cards.html">Cards</a></li>
                        <li><a href="../../components/carousels.html">Carousels</a></li>
                        <li><a href="../../components/cta.html">CTA</a></li>
                        <li><a href="../../components/features.html">Features</a></li>
                      </ul>
                    </div>
                    <div class="col">
                      <ul class="mega-list">
                        <li><a href="../../components/footers.html">Footers</a></li>
                        <li><a href="../../components/forms.html">Forms</a></li>
                        <li><a href="../../components/gallery.html">Gallery</a></li>
                        <li><a href="../../components/lightbox.html">Lightbox</a></li>
                        <li><a href="../../components/maps.html">Maps</a></li>
                        <li><a href="../../components/masonry.html">Masonry</a></li>
                        <li><a href="../../components/modals.html">Modals</a></li>
                        <li><a href="../../components/partners.html">Partners</a></li>
                        <li><a href="../../components/presentation.html">Presentations</a></li>
                        <li><a href="../../components/pricing.html">Pricing</a></li>
                      </ul>
                    </div>
                    <div class="col">
                      <ul class="mega-list">
                        <li><a href="../../components/progress.html">Progress</a></li>
                        <li><a href="../../components/sliders.html">Sliders</a></li>
                        <li><a href="../../components/steps.html">Steps</a></li>
                        <li><a href="../../components/tables.html">Tables</a></li>
                        <li><a href="../../components/tabs.html">Tabs</a></li>
                        <li><a href="../../components/testimonials.html">Testimonials</a></li>
                        <li><a href="../../components/typed.html">Typed</a></li>
                        <li><a href="../../components/typography.html">Typography</a></li>
                        <li><a href="../../components/users.html">Users</a></li>
                        <li><a href="../../components/utility.html">Utility</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>

            <ul class="navbar-nav align-items-center mr-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Michael Doe
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="../app/profile.html">Public Profile</a>
                  <a class="dropdown-item" href="../app/connections.html">Connections</a>
                  <a class="dropdown-item" href="../app/groups.html">Groups</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="../app/settings.html">Settings</a>
                  <a class="dropdown-item" href="../app/payments.html">Payments</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- header -->

    <!-- cover -->
    <section class="p-0 bg-blue pattern">
      <div class="swiper-container text-white"
        data-top-top="transform: translateY(0px);" 
        data-top-bottom="transform: translateY(250px);">
        <div class="swiper-wrapper">
          <div class="swiper-slide vh-100">
            <div class="caption">
              <div class="container">
                <div class="row vh-100">
                  <div class="col-md-12 align-self-center" data-swiper-parallax-y="-250%">
                    <h1 class="display-2">Your artistic social network to<br><b class="font-weight-bold" id="typed"></b> paintings</h1>
                    <div id="typed-strings">
                        <p>Create</p>
                        <p>Share</p>
                        <p>Sell</p>
                    </div>
                    <a href="" class="btn btn-white btn-lg btn-rounded px-5">Discover more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </section>
    <!-- / cover -->
    <section class="bg-light">
    <div class="container gallery">
    <div class="row justify-content-center ">
    <div class="col-lg-5 text-blue">
      <h2>The Social Marketplace dedicated to Arts </h2>
    </div>
    <div class="col-lg-6">
      <p class="lead text-blue"> Proudly designed for artists, Nectar helps you to get inspiration from other painters, to connect with your fans and share your artistic work with the world.  </p>
    </div>
  </div>
      <div class="row mb-1" data-aos="fade-left">
        <div class="col-10">
          <div class="owl-carousel visible align-bottom" data-items="[2,2,2]" data-margin="10" data-loop="true" data-autoplay="true">
            <figure class="photo equal equal-short">
              <a href="../../assets/images/demo/coworking/coworking-small-1.jpg" 
                style="background-image: url(../../assets/images/demo/coworking/coworking-small-1.jpg);">
              </a>
            </figure>
            <figure class="photo equal">
              <a href="../../assets/images/demo/coworking/coworking-small-2.jpg" 
                style="background-image: url(../../assets/images/demo/coworking/coworking-small-2.jpg);">
              </a>
            </figure>
            <figure class="photo equal equal-short">
              <a href="../../assets/images/demo/coworking/coworking-small-3.jpg" 
                style="background-image: url(../../assets/images/demo/coworking/coworking-small-3.jpg);">
              </a>
            </figure>
            <figure class="photo equal">
              <a href="../../assets/images/demo/coworking/coworking-small-4.jpg" 
                style="background-image: url(../../assets/images/demo/coworking/coworking-small-4.jpg);">
              </a>
            </figure>
            <figure class="photo equal equal-short">
              <a href="../../assets/images/demo/coworking/coworking-small-5.jpg" 
                style="background-image: url(../../assets/images/demo/coworking/coworking-small-5.jpg);">
              </a>
            </figure>
            <figure class="photo equal">
              <a href="../../assets/images/demo/coworking/coworking-small-6.jpg" 
                style="background-image: url(../../assets/images/demo/coworking/coworking-small-6.jpg);">
              </a>
            </figure>
          </div>
        </div>
      </div>
      <div class="row justify-content-end" data-aos="fade-right">
        <div class="col-10">
          <div class="owl-carousel visible" data-items="[2,2,2]" data-margin="10" data-loop="true" data-autoplay="true" data-rtl="true">
            <figure class="photo equal equal-short">
              <a href="../../assets/images/demo/coworking/coworking-small-7.jpg" 
                style="background-image: url(../../assets/images/demo/coworking/coworking-small-7.jpg);">
              </a>
            </figure>
            <figure class="photo equal">
              <a href="../../assets/images/demo/coworking/coworking-small-8.jpg" 
                style="background-image: url(../../assets/images/demo/coworking/coworking-small-8.jpg);">
              </a>
            </figure>
            <figure class="photo equal equal-short">
              <a href="../../assets/images/demo/coworking/coworking-small-9.jpg" 
                style="background-image: url(../../assets/images/demo/coworking/coworking-small-9.jpg);">
              </a>
            </figure>
            <figure class="photo equal">
              <a href="../../assets/images/demo/coworking/coworking-small-10.jpg" 
                style="background-image: url(../../assets/images/demo/coworking/coworking-small-10.jpg);">
              </a>
            </figure>
            <figure class="photo equal equal-short">
              <a href="../../assets/images/demo/coworking/coworking-small-11.jpg" 
                style="background-image: url(../../assets/images/demo/coworking/coworking-small-11.jpg);">
              </a>
            </figure>
            <figure class="photo equal">
              <a href="../../assets/images/demo/coworking/coworking-small-12.jpg" 
                style="background-image: url(../../assets/images/demo/coworking/coworking-small-12.jpg);">
              </a>
            </figure>
            <figure class="photo equal">
              <a href="../../assets/images/demo/coworking/coworking-small-13.jpg" 
                style="background-image: url(../../assets/images/demo/coworking/coworking-small-13.jpg);">
              </a>
            </figure>
            <figure class="photo equal">
            <a href="../../assets/images/demo/coworking/coworking-small-14.jpg" 
              style="background-image: url(../../assets/images/demo/coworking/coworking-small-14.jpg);">
            </a>
          </figure>
          <figure class="photo equal">
          <a href="../../assets/images/demo/coworking/coworking-small-15.jpg" 
            style="background-image: url(../../assets/images/demo/coworking/coworking-small-15.jpg);">
          </a>
        </figure>
        <figure class="photo equal">
        <a href="../../assets/images/demo/coworking/coworking-small-16.jpg" 
          style="background-image: url(../../assets/images/demo/coworking/coworking-small-16.jpg);">
        </a>
      </figure>
      <figure class="photo equal">
      <a href="../../assets/images/demo/coworking/coworking-small-17.jpg" 
        style="background-image: url(../../assets/images/demo/coworking/coworking-small-17.jpg);">
      </a>
    </figure>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <button type="button" class="btn btn-rounded btn-with-ico btn-blue"> <%= link_to "View All Paintings", artworks_path%> <i class="icon-chevron-right2 fs-24"></i></button>
        </div>
      </div>
    </div>
  </section>

  <!-- features -->
    <section>
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-12 col-lg-6">
            <img src="../../assets/images/demo/app/app-2.png" alt="Image">
          </div>
          <div class="col-12 col-lg-5">
            <div class="row">
              <div class="col">
                <h2 class="text-decorate">Be focused only on your next masterpiece</b></h2>
              </div>
            </div>
            <div class="row gutter-3">
              <div class="col-4" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                <i class="icon-activity fs-30 mb-2 text-purple">
                </i>
                <span class="eyebrow">Dashboard Tracker</span>
              </div>
              <div class="col-4" data-aos="fade-up">
              <i class="fas fa-comments fs-30 mb-2 text-purple"></i>
                </i>
                <span class="eyebrow">Social media features</span>
              </div>
              <div class="col-4" data-aos="fade-up">
              <i class="fas fa-tasks fs-30 mb-2 text-purple"></i>
                </i>
                <span class="eyebrow">Easy-to-manage</span>
              </div>
              <div class="col-4" data-aos="fade-up">
                <i class="icon-lock2 fs-30 mb-2 text-purple">
                </i>
                <span class="eyebrow">Secure Payment</span>
              </div>
              <div class="col-4" data-aos="fade-up">
                <i class="icon-phone2 fs-30 mb-2 text-purple">
                </i>
                <span class="eyebrow">Customer Support</span>
              </div>
              <div class="col-4" data-aos="fade-up">
              <i class="fas fa-euro-sign fs-30 mb-2 text-purple"></i>
                </i>
                <span class="eyebrow">Free registration </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / features  -->
    
    </footer>
    <!-- / footer -->
    


    <script src="../../assets/js/vendor.js"></script>
    <script src="../../assets/js/app.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.10.2/js/all.js" data-auto-replace-svg="nest"></script>

  </body>
</html>