<h1>All your orders</h1>

<% @orders.each do |order| %>
  <p>Name: <%= order.last_name %></p>
  <p>Email: <%= order.email %></p>
  <p>Line Items: </p>
  <ul>
    <% order.line_items.each do |item| %>
    <li><%= item.quantity %> x <%= item.artwork.name %></li>
    <% end %>
  </ul>
<% end %>