<p><%= @user.first_name %> <%= @user.last_name %> welcome to our artist community !</p>

<p>In order to finalise your registration, we need to verify your email. This can be done through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>


<p>The Nectar Team</p>

<p><img class="navbar-logo navbar-logo-dark" src="../../assets/demo/logo/nectar-dark6.png" alt="Logo"></p>

<p>© NECTAR. 2019 ALL RIGHT RESERVED</p>

<p>+33 (0) 635 389 512</p>

