<p>Hello <p><%= @user.first_name %> !</p>

<p>We're contacting you to notify you that your password has been changed.</p>

 <p>In case it was not you please immediately contact our client service !</p>

 <p>The Nectar Team</p>

<p><img class="navbar-logo navbar-logo-dark" src="../../assets/demo/logo/nectar-dark6.png" alt="Logo"></p>
<p>© NECTAR. 2019 ALL RIGHT RESERVED</p>

<p>+33 (0) 635 389 512</p>
