<section class="hero hero-with-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="text-decorated">Thank you <b><%=current_user.first_name%> <%=current_user.last_name%></b></h2>
        <p>Your payment and your order have just been confirmed. You should receive the artwork you've selected within 1 to 3 weeks, depending on its size and how busy the artist is. Be assured we keep an eye on your order to make sure everything goes as quickly as possible.</p>
      <a class="btn btn-blue btn-lg btn-rounded px-5", href="<%=root_path %>">Go back to homepage</a>
      </div>
    </div>
  </div>    
</section>