<span class="success_msgs"> <% if notice %>
  <p class="nec-alert alert-success">
      <%= notice %>
  </p> <% end %> </span>
 
<span class="error_msgs"> <% if alert %>
  <p class="nec-alert alert-success">
      <%= alert %>
  </p> <% end %> </span>