
<footer>
<hr>
  <div class="container py-5">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-5 text-center text-md-left">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="<%=contact_path%>">Contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%=about_path%>">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%=legal_information_path%>">Legal Information</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 text-center">
        <img class="logo-sm" src="../../assets/demo/logo/nectar-dark6.png" alt="Logo">
      </div>
      <div class="col-md-5 text-center text-md-right">
        <ul class="socials">
          <li><a href="https://fr-fr.facebook.com" class="fab fa-facebook-square"></a></li>
          <li><a href="https://www.instagram.com/?hl=fr" class="fab fa-instagram"></a></li>
          <li><a href="https://twitter.com/?lang=fr" class="fab fa-twitter-square"></a></li>
          <li><a href="https://fr.linkedin.com" class="fab fa-linkedin"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

