<!-- footer -->
<footer>
<hr>
  <div class="container py-5">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-5 text-center text-md-left">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="<%=contact_path%>">Contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%=about_path%>">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%=legal_information_path%>">Legal Information</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 text-center">
        <img class="logo-sm" src="../../assets/demo/logo/nectar-dark6.png" alt="Logo">
      </div>
      <div class="col-md-5 text-center text-md-right">
        <ul class="socials">
          <li><a href="" class="icon-facebook text-facebook fs-20"></a></li>
          <li><a href="" class="icon-instagram text-instagram fs-20"></a></li>
          <li><a href="" class="icon-twitter text-twitter fs-20"></a></li>
          <li><a href="" class="icon-linkedin text-linkedin fs-20"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- / footer -->
